@page "/mock"
@inherits MockComponentBase
<PageTitle >Mock</PageTitle>
<h3>MockComponent</h3>
<p>@Name</p>
<input type="text" @bind=Name @bind:event="oninput" />
<figure>
    <figcaption>Listen to the T-Rex:</figcaption>
    <audio
        controls
        src="/media/cc0-audio/t-rex-roar.mp3">
        <a href="/media/cc0-audio/t-rex-roar.mp3">
            Download audio
        </a>
    </audio>
</figure>
<center>
    <button><NavLink class="nav-link" href="">Go To Home Page</NavLink></button>
</center>

